
@page "/about"

<h1>About Us</h1>
<div class="container mb-5">
    <div class="text-center mt-5 ">

        <img src="GermanSheppardPup.jpg" alt="PetStore Image" class="img-fluid" style="max-width: 100%; height: auto;" />
        <h1 class="display-2 mt-3">Pet Store</h1>
        <h1 class="display- mt-3">Your new family member is only a click away!</h1>
    </div>

<div class="row">
    <div class="col-md-6">
        <h2>Our Mission</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisi.
            Sed tristique aliquet magna, vel dignissim nulla eleifend a.
            Vivamus at sapien sit amet ex commodo feugiat.
            Phasellus volutpat tortor eu mauris congue, sit amet vestibulum velit tincidunt.
        </p>
    </div>
    <div class="col-md-6">
        <h2>Our Vision</h2>
        <p>
            Duis eu dolor id lacus ullamcorper eleifend.
            Nam id elit eget lorem tempor vestibulum.
            Phasellus maximus fermentum eros, a commodo nisi tincidunt nec.
            Cras efficitur dolor in feugiat lacinia.
        </p>
    </div>
</div>

<div class="row mt-4">
    <div class="col">
        <h2 class=" text-center">Our Store</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Integer auctor massa at odio commodo, ac vestibulum lorem facilisis.
            Nam ac lectus non libero blandit sollicitudin.
        </p>
        <p>
            Aliquam erat volutpat.
            Sed et eros vel odio sollicitudin luctus ut a metus.
            Curabitur ullamcorper, neque a tincidunt malesuada,
            turpis nisi faucibus ligula, ut feugiat orci ex ac libero.
        </p>
    </div>
</div>
</div>
